.navbar-dark .navbar-nav .nav-link {
    color: rgb(199, 199, 198);
    font-weight: bold;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
  }

  .intro {
    margin: 4em;
    margin-left: 15vw;;
    margin-right: 15vw;
  }

  
.bg-light {
    background-color: #023e50!important;
  }

  ul {
    text-align: left;
    margin-left: 40vw;
  }

  h1 {
    text-align: center;
    margin-top: 1em;
    color: #002F2F;
  }

  .form_stuff {
      margin: 2em;
      margin-top: 4em;
      text-align: center;
  }
  .portfolio {
    margin: 2em;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  img {
    width: 15vw;
  }

  img:hover {
    opacity: .5;
  }

  .grid {
    border-style: dotted;
    padding: .5em;
  }

.forecast {
    margin-top: 3em;
    margin-bottom: 0;
    text-align: center;
}

.drink_info {
    margin: 2em;
    text-align: center;
}

  .invisible {
    color: white;
  }